#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: var(--grey);
}
.friend-screen__user {
  height: 500px;
}
.friend-screen__user,
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friend-screen__channel {
  margin-top: 10px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0;
}
.friend-screen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friend-screen__real_user {
  margin-top: 23px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
.splash-screen__spring {
  background-color: #eeeedf;
  color: #a6af6c;
}
.splash-screen__summer {
  background-color: #2196f3;
  color: #fff;
}
.splash-screen__fall {
  background-color: #f1f0e8;
  color: #723424;
}
.splash-screen__winter {
  background-color: #708098;
  color: #dce3ef;
}
