.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  
}
#login-form div input{
  width:63%;
}
#login-form div select {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
}
#login-form div select option{
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
}


#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0,0.3);
}
#login-form input[type="submit"] {
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 4px 0 black;
}
#login-form input[type="submit"]:hover{
  
  box-shadow: 0 1.5px 5px 0 black;
  transition-timing-function: box-shadow 1s ease-in-out;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

.welcome-header,
#login-form input[type="submit"],
#login-form a{
  color:black;
  font-weight: 600;
}